/* EnrolledCourses.css */

.enrolled-courses {
  padding: 10px;
  background-color: #fff;
  margin-top: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.enrolled-courses h2 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}

.enrolled-courses ul {
  list-style: none;
  padding: 0;
}

.enrolled-course-item {
  display: flex;
  align-items: flex-start;
  padding: 15px;
  margin-bottom: 15px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.enrolled-course-item:hover {
  background-color: #f1f1f1;
}

.course-thumbnail {
  width: 80px;
  height: 80px;
  border-radius: 8px;
  object-fit: cover;
  margin-right: 15px;
}

.course-details {
  display: flex;
  flex-direction: column;
}

.enrolled-course-item h3 {
  font-size: 18px;
  margin: 0 0 10px;
  color: #333;
}

.enrolled-course-item p {
  margin: 0;
  color: #666;
  white-space: nowrap; /* Prevent text wrapping */
 
  text-overflow: ellipsis; /* Add ellipsis for overflow text */
}

.enrolled-course-item a {
  text-decoration: none;
  color: inherit;
}

.enrolled-course-item a:hover {
  text-decoration: underline;
}
