body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4; /* Subtle background color */
}

h1 {
  font-size: 24px;
}

.course-card {
  border: 1px solid #ccc;
  padding: 16px;
  margin: 8px;
  border-radius: 8px;
  text-align: center;
  background-color: #fff; /* Card background color */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle card shadow */
}

.enrolled-course {
  border: 1px solid #ccc;
  padding: 16px;
  margin: 8px;
  border-radius: 8px;
  background-color: #c9eae96e; /* Card background color */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle card shadow */
}

.course-list {
  display: flex;
  flex-wrap: wrap;
}

input[type="text"] {
  padding: 8px;
  margin-bottom: 16px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  padding: 8px 16px;
  margin-top: 8px;
  cursor: pointer;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
}

progress {
  width: 100%;
  margin-top: 8px;
}